.square {
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
    color: black;
    border: 1px solid black;
    font-size: 50px;
}

.square:hover {
  background-color: darkcyan;
}